<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG Automation Suite" verbose="1" >
  <test name="TestNG Feature Test" >
    <classes>

      <class name="com.testng.pack.TestNGClass"/>
      <class name="com.testng.pack.TestNGFeatures"/>
       <class name="com.tests.GoogleTest"/>
      
    </classes>
    
  </test>
  
</suite>
